<a href="https://colab.research.google.com/github/pranavkumar02/Tourist-Flow-And-Seasonality-Analyzer-With-Event-Impact/blob/main/etl/nps_clean_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import re

In [ ]:
folder_path = "/content/drive/MyDrive/Capstone project/datasets for monthly recreation visit to national parks/Query builder files"

In [ ]:
excel_files = [f for f in os.listdir(folder_path) if f.endswith(('.xlsx','.xls'))]

In [ ]:
excel_files.sort()

In [ ]:
def reading_excel_files(folder_path,excel_files):
  print(f"\nTotal DataFrames created: {len(excel_files)}")
  print('\n\n\n')
  for i, file in enumerate(excel_files, start=1):
    path = os.path.join(folder_path, file)
    globals()[f'df{i}'] = pd.read_excel(path,skiprows=2)
    print('\n')
    print('File loading')
    print(f"Loaded {file} â†’ df{i}  (rows: {globals()[f'df{i}'].shape[0]}, cols: {globals()[f'df{i}'].shape[1]})")

In [ ]:
reading_excel_files(folder_path,excel_files)

In [ ]:
print(f"\nTotal DataFrames created: {len(excel_files)}")

In [ ]:
def understanding_data(df):
  print('First 5 rows of the dataset')
  print('\n')
  print(df.head())
  print('\n\n\n')
  print('Shape of the dataset')
  print('\n')
  print(df.shape)
  print('Information about the dataset')
  print('\n')
  print(df.info())
  print('\n\n\n')
  print('Description of the dataset')
  print('\n')
  print(df.describe())
  print('\n\n\n')

In [ ]:
def data_cleaning(df):
  print('Checking for number of null values in each columns')
  print('\n')
  print(f'Total no of null values in each  column: {df.isnull().sum()}')
  print('\n')
  print('Checking for null values in each row')
  print('\n')
  null_rows=df[df.isnull().any(axis=1)]
  print(f" Total number of rows with null values: {len(null_rows)}")
  print("\n")
  print("Rows with null values")
  print("\n")
  print(null_rows.to_string(index=False))
  print('\n\n\n')
  print('Checking for duplicate rows')
  print('\n')
  print(f'number of duplicate values: {df.duplicated().sum()}')
  print('\n')
  print('Duplicated rows in the dataset')
  print('\n')
  print(df[df.duplicated()])

In [ ]:
def outliner_detection(df):
  numeric_df = df.select_dtypes(include=np.number)
  Q1=numeric_df.quantile(0.25)
  Q3=numeric_df.quantile(0.75)
  IQR=Q3-Q1
  outliers=numeric_df[((numeric_df<(Q1-1.5*IQR))|(numeric_df>(Q3+1.5*IQR))).any(axis=1)]
  print('Number of outliers in each column')
  print('\n')
  print(outliers.count())
  print('\n')
  print('Outliers in the dataset')
  print('\n')
  print(outliers)

In [ ]:
def replacing_nan_values(df,column_name,value):
  df[column_name].fillna(value,inplace=True)
  return df

In [ ]:
understanding_data(df10)

In [ ]:
data_cleaning(df29)

In [ ]:
replacing_nan_values(df6,'State','AK')

In [ ]:
replacing_nan_values(df9,'State','CO')

In [ ]:
replacing_nan_values(df24,'State','DC')

In [ ]:
replacing_nan_values(df39,'State','MA')

In [ ]:
replacing_nan_values(df47,'State','KY')

In [ ]:
replacing_nan_values(df59,'State','DC')

In [ ]:
replacing_nan_values(df65,'State','CA')

In [ ]:
replacing_nan_values(df70,'State','OH')

In [ ]:
replacing_nan_values(df99,'State','DC')

In [ ]:
replacing_nan_values(df106,'State','MS')

In [ ]:
replacing_nan_values(df112,'State','DE')

In [ ]:
replacing_nan_values(df176,'State','MD')

In [ ]:
def final_dataframe_construction(*dfs):
  df=pd.concat(dfs,ignore_index=True)
  return df

In [ ]:
def collect_numbered_dfs(globals_dict):
    """Return a sorted list of DataFrames from globals whose names match df<number>."""
    pattern = re.compile(r'^df(\d+)$')   # strict: df followed by digits only
    matched = []
    for name, val in globals_dict.items():
        if isinstance(val, pd.DataFrame):
            m = pattern.match(name)
            if m:
                num = int(m.group(1))
                matched.append((num, name, val))
    if not matched:
        return []
    # sort by numeric suffix and deduplicate by numeric index if duplicates exist
    matched.sort(key=lambda t: t[0])
    seen = set()
    ordered_dfs = []
    for num, name, df in matched:
        if num in seen:
            # prefer first occurrence (you can change to prefer last)
            continue
        seen.add(num)
        ordered_dfs.append((num, name, df))
    # return only the DataFrame objects in order
    return [t[2] for t in ordered_dfs]

In [ ]:
dfs_to_concat = collect_numbered_dfs(globals())

In [ ]:
final_df = final_dataframe_construction(*dfs_to_concat)

In [ ]:
understanding_data(final_df)

In [ ]:
data_cleaning(final_df)

In [ ]:
final_df.to_csv('/content/drive/MyDrive/final_dataset.csv')